* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
}

:root {
  --index: calc(1vw + 1vh);
  --swiper-theme-color: #4b4d53;
  --swiper-navigation-size: 30px;
  --swiper-navigation-sides-offset: 40px;
  --swiper-pagination-bottom: 20px;
  --swiper-pagination-color: #afb3c0;
  --swiper-pagination-bullet-inactive-color: #36373c;
  --swiper-pagination-bullet-inactive-opacity: 1;
}

.slider {
  height: 100vh;
}
.slider .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider .slide h2 {
  font-size: calc(var(--index) * 4);
  letter-spacing: calc(var(--index) * 0.3);
}
.slider .slide p {
  font-size: calc(var(--index) * 1);
  letter-spacing: calc(var(--index) * 0.3);
}
.slider .slide button {
  width: 200px;
  height: 50px;
  margin-top: 20px;
}
.slider video {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (orientation: portrait) {
  .slider video {
    width: auto;
    height: 100%;
  }
}
